@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">inchiriaza-ma.ro</h1> </br>
    <!--<h2> <img src="d:\medii de programare\proiect_mari_claudiu\proiect_mari_claudiu\imagini\car.png" /></h2> </br>-->
    <!--<img src="~/imagini/masina.png" />--->
    <p class="descriere"> Foaie verde de pelin masini multe bani putini!</p>
    <div class="hero-image"></div>
</div>
