html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
   background-color:wheat;
    
}
.display-4{
    color:white;
    position:absolute;
    font-style:italic;
    font-weight:900;
}

.text-center {
    background-image: url('../imagini/poza_mariii.jpg');
    background-color: #cccccc;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.descriere {
    color: white;
    font-style: italic;
    font-weight: bold;
}
.table{
    color:maroon;
    position:absolute;
    font-size:16px;
    font-style:italic;
    background-color:grey;
}
