html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #bfbfbf;
}

.display-4 {
    color: black;
    position: center;
    font-style: italic;
    font-weight: 900;

}

.text-center {
    background-image: url('../imagini/poster.png');
    background-color: #bfbfbf;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.descriere {
    color: black;
    font-style: italic;
    font-weight: bold;
    text-align:center;
}

.table {
    color: white;
    position: center;
    font-size: 16px;
    font-style: italic;
    background-color: #1a1a1a;
}
